<!DOCTYPE HTML>
<html>
<head>
    <title>DESAFIO DO CÓDIGO - Numa Galáxia bem Perto de Você</title>
    <link href="{{ base_url() }}/css/site-style.css" rel="stylesheet"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>
Home do site do desafio, onde tem a apresentação, menu com links e tal.
</body>
</html>