.primaryContainer {
    height: auto;
    margin-left: auto;
    margin-right: auto;
    min-height: 100%;
    width: 100%;
    float: none;
    clear: none;
    -webkit-box-shadow: rgb(0, 0, 0) 0px 3px 100px 50px;
    box-shadow: rgb(0, 0, 0) 0px 3px 100px 50px;
    background-image:url("../img/bg_login.png");
    background-attachment: fixed;
    -webkit-background-size: cover;
    background-size: cover;
    background-position: 0% 0%;
    background-repeat: no-repeat no-repeat;
}

#box {
    float: none;
    height: 200px;
    margin-left: auto;
    margin-top: 15%;
    clear: none;
    width: 50%;
    min-height: 0px;
    background-color: rgba(0, 0, 0, 0.6);
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
    border-bottom-right-radius: 7px;
    border-bottom-left-radius: 7px;
    margin-right: auto;
    min-width: 0px;
}

@media only screen and (max-width: 496px) {
    #box {
        width: 80%;
    }
}

@media only screen and (max-width: 200px) {
    #box {
        width: 100%;
    }
}


.cont_pad {

    padding-top: 15%;
}

body {
        background-image: url(../img/bg_login.png);
        height: auto;
        margin-left: auto;
        margin-right: auto;
        min-height: 100%;
        width: 100%;
        background-attachment: fixed;
        -webkit-background-size: cover;
        background-size: cover;
        background-position: 0% 0%;
        background-repeat: no-repeat no-repeat;
}
