<!DOCTYPE HTML>
<html>
<head>
    <title>Desafio do Código</title>
    <link href="{{ base_url() }}/css/desafio-style.css" rel="stylesheet"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>
<H1>Home do Desafio do Código</H1>
Logar quando não autenticado.
<br><br>

<h1>Testes de template</h1>
<h3>Nome do usuário</h3>
{{ nome }}
<br><br>
<h3>Sexo</h3>
{{ user.sexo }}
<br><br>

</body>
</html>