<!DOCTYPE HTML>
<html>
<head>
    <title>Desafio... 404!</title>
    <link href="{{ base_url() }}/css/desafio-style.css" rel="stylesheet"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>

<center>
    <h3>Página não encontrada</h3>
    <p>
        Este endereço não chega a lugar nenhum...<br/>
        ...acho que devemos considerar isso um grande problema.
    </p>

    <img src="{{ base_url() }}/images/broken_robot.jpg">
</center>