
<!DOCTYPE HTML>
<html>
<head>
    <title>Desafio... 404!</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

</head>

<center>
    <h3>Página não encontrada</h3>
    <p>Este endereço não chega a lugar nenhum...</p>

    <img src="{{ base_url() }}/images/broken_robot.jpg">
</center>